<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="SchoolDatabase"
			 connectionString="Data Source=751FJW2;Initial Catalog=SchoolDatabase;Integrated Security=True;TrustServerCertificate=True"
			 providerName="Microsoft.Data.SqlClient"/>
	</connectionStrings>
</configuration>